<h3>
    Edit post
</h3>

<%= form_with(model: @post, local: true) do |form| %>

<% if @post.errors.any? %>
    <div id ="error_explanation">
        <h3>
            <%= pluralize(@post.errors.count, "error") %>
            ene post.iig zasah bolomjgvi bn
        </h3>
        <ul>
            <%= @post.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg%>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>

<p>
    <%= form.label :title %> <br>
    <%= form.text_field :title %> 
</p>
<p>
    <%= form.label :text %> <br>
    <%= form.text_area :text %>
</p>
<p>
    <%= form.submit %>
</p>
<% end %>